python-dotenv>=1.0.0
requests>=2.31.0
beautifulsoup4>=4.12.0
duckduckgo-search
timezonefinder>=6.1.0
tzdata

# Flask is required for integration tests
Flask>=2.0.0

# Async server + http client + redis
quart>=0.18.0
aiohttp>=3.9.0
redis>=5.0.0
hypercorn>=0.14.0
